* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Lemon", serif;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  background: linear-gradient(#ede611, #1f6521);
  height: 100vh;
}

.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Barrio", serif;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 2.25em;
  color: #1F2605;
  text-shadow: 0 1px #1f6521, -1px 0 #53900f, -1px 2px #1f6521, -2px 1px #53900f,
  -2px 3px #1f6521, -3px 2px #53900f, -3px 4px #1f6521, -4px 3px #53900f,
  -4px 5px #1f6521, -5px 4px #53900f, -5px 6px #1f6521, -6px 5px #53900f,
  -6px 7px #1f6521, -7px 6px #53900f, -7px 8px #1f6521, -8px 7px #53900f;
  }


.container {
  background: radial-gradient(50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  background: #ede611;
  font-size: 1em;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: #1F6521;
  font-size: 30px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid #D6CE15;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #A4A71E;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: #1F2605;
  background: #D6ce15;
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  filter: brightness(0.9);
  color: white;
}

.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #D6CE15, #1F6521);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
